@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.w50 {
    width: 50%;
}

.df {
    display: flex;
}

li {
    list-style: none;
}

.main {
    height: 100vh;
}

.menu-left {
    background-color: #191718;
}

.menu-left > div {
    width: 150px;
}

.nav {

}

.nav-item {
    padding: 15px;
    border-bottom: 1px solid #AAAAAA;
    color: #AAAAAA;
    cursor: pointer;
}

.nav-item:hover {
    color : #ffff;
    background-color: #5C5C5C;
}

.active {
    color: #ffff;
}

.content {
    max-width: calc(100% - 150px);
}

.wrapper {
    padding: 10px 58px;
    height: 100%;
    margin: 0 auto -4em;
}

.logo {
    
}

.logo-img {
    background-image: url('./images/logoNCC.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 8%;
}

.des {
    background-color: #EFEFEF;
    margin: 25px 0 25px 0;
    padding: 25px 0 25px 0;
    justify-content: center;
    text-align: center;
}

.des p {
    padding: 10px 0 10px 0;
}

.des h3 {
    font-size: 18px;
}

.lorem {
    flex-wrap: wrap;
    justify-content: space-between;
}

.lorem-item {
    max-width: calc(100%/3 - 15px);
    flex: calc(100%/3 - 15px);
}

.lorem-item > .df{
    padding-top: 10px;
}

.lorem-item h2 {
    font-size: 24px;
}

img {
    width: 100%;
}

.lorem-item .text {
    padding-left: 10px;
}

.footer {
    padding: 25px 58px;
    border-top: 1px solid #AAAAAA;
}

/*  */
@media (max-width: 991px) {
    .w1 {
        width: 100% !important;
        padding: 0 10px;
    }
    .lorem-item {
        margin-bottom: 20px;
        max-width: 100%;
        flex: 100%;
    }
}

@media(max-width: 767px) { 
    .dbi {
        display: block !important;
    }
    .menu-left {
        height: 50px;
    }
    .menu-left >div {
        width: 100% !important;
    }
    .menu-left .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        border-bottom: none;
    }
    .content {
        max-width: 100% !important;
        padding: 10px 15px;
    }

}

@media (max-width: 479px) { 

}

@media (max-width: 375px) { 

}